# fly.toml app configuration for knowledge-base-api
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'knowledge-base-api'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile.api'

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
